/*Variáveis*/
:root {
  --corPadrao: #85B027;
  --corBotao: #54AE29;
  --corTexto1: #85B027;
  --corTexto3: #00A8E6;
  --corHeading: #85B027;
  --fontePadrao: 'Roboto', sans-serif;

}

/*Estilo Geral*/

body {

  font-family: var(--fontePadrao);
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

h1 {
  color: var(--corHeading);

}

.btn-primary {
  background-color: var(--corBotao);
  --bs-btn-hover-bg: var(--corBotao);
  --bs-btn-active-bg: var(--corBotao);
  border-color:var(--corBotao) ;
  --bs-btn-hover-border-color:var(--corBotao);
}

/* Rodapé */

.footer-copyright {
  background-color: #d9d9d9;
  position: static;
  height: 60px;
  bottom: 0;
  width: 100%;

}


.headings {
  color: var(--corPadrao);
  text-align: center;
  font-family: var(--fontePadrao);
  font-weight: bold;
}

.btnTxt {
  margin: 20px;
  color: black;
  font-size: 1em;
}

.headerInput {
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}