/*Variáveis*/
:root {
    --corBotao: #58D644;
    --corHeading: #85B027;
    --fontePadrao: 'Roboto', sans-serif;
     
  }

/*Estilo Geral*/  

body{
   
  font-family: var(--fontePadrao);
}

h1{
  text-align: center;
  margin-top: 50px;
  color: var(--corHeading);

}

