/*Variáveis*/
:root {
    --corPadrao: #85B027;
    --corBotao: #58D644;
    --corTexto1: #85B027;
    --corTexto3: #00A8E6;
    --corHeading: #85B027;
    --fontePadrao: 'Roboto', sans-serif;
     
  }

/*Estilo Geral*/  

body{
   
  font-family: var(--fontePadrao);
}

.row{
  margin: 0;
}

.container{
  padding: 70px 0;
}

h1{
  color: var(--corHeading);

}

.btn-primary{
  background-color: var(--corBotao);
  --bs-btn-hover-bg: var(--corBotao);
  --bs-btn-active-bg: var(--corBotao);
  border: none;
}

/* Rodapé */

.footer-copyright {
  background-color: #d9d9d9;
}


.headings{
  color: var(--corPadrao);
  text-align: center;
  font-family: var(--fontePadrao);
  font-weight: bold;  
}

.btnTxt{
  margin: 20px;
  color: black;
  font-size: 1em;
}