/* Gerais */

h3 {
    font-weight: 700;
    font-size: 50px;
    color: var(--corPadrao2);
}

/* Inicio */

/* Slide 1 */

div#slide-1 .carousel-caption h5{
   color: #ffffff;
   text-align: left;
   font-size: 40px;
   margin-left: 50px;
}

div#slide-1{
    height: 455px;
    background-image: url("../img/slide-1.jpg");
}

div#slide-1 .row{
    height: 100%;
}

div#slide-1 #bg-slide-1{
    background-color: #2a02f2;
}

div#slide-1 .slide-container {
    padding: 0px 50px;
}

div#slide-1 h5{
    color: #ffffff;
    font-size: 3rem;
}

div#slide-1 img{
    width: 60%;
}

div#slide-1 .btn-slide1 {
    margin-top: 10px;
}

/* Slide 2 */

div#slide-2 {
    color: #ffffff;
    height: 455px;
    background-image: url("../img/slide-1.jpg");
}

div#slide-2 #bg-slide-2 {
    background-color: #2a02f2;
}

div#slide-2 .row{
    height: 100%;
}

div#slide-2 h5{
    color: #ffffff;
    font-size: 3rem;
    /*padding: 0px 50px;*/
}

div#slide-2 img{
    width: 60%;
}

div#slide-2 .btn-slide2 {

    margin-top: 10px;
}

/* Slide 3 */

div#slide-3 .carousel-caption h5{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
 }

 div#slide-3 .carousel-caption h5,  div#slide-3 .carousel-caption p{
    text-shadow: 2px 2px 5px black;
 }

 /* Controles do Slide */

 .carousel-control-next, .carousel-control-prev {
    width: 10%;
 }

/* Quem Somos */

div#quem-somos p {
    color: var(--corPadrao);
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
}

/* Como Funciona */

div#como-funciona {
    background-color: #D9D9D9;
}

div#como-funciona .card-img-top {
    width: 117px;
    height: 117px;
    margin-top: 5px;
}

.card {
    border: none;
}

div#como-funciona .card {
    text-align: center;
    background-color: #D9D9D9;
    margin-top: 20px;
}

div#como-funciona .card-text {
    font-weight: 500;
    font-size: 20px;
    color: var(--corTexto3);
}

/* Materiais Recicláveis */

div#materiais-reciclaveis h3 {
    margin-bottom: 50px;
}

div#materiais-reciclaveis .card-body h4 {
    font-weight: 400;
    font-size: 30px;
}

div#materiais-reciclaveis .card-body {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    height: 216px;
}

#card-1 {
    background-color: #F98715;
}

#card-2 {
    background-color: #F7CB14;
}

#card-3 {
    background-color: #516BBF;
}

#card-4 {
    background-color: #26881B;
}

/* Contato */

div#contato {
    background-color: #00A8E6;
    padding-bottom: 100px;
}

div#contato p {
    font-size: 20px;
}

div#contato h4 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#contato h3,
h4,
p,
div#contato label,
.text-muted {
    color: #ffffff;

}

div#contato .text-muted {
    color: #ffffff !important;
}

div#contato .form-group,
div#contato label {
    margin-bottom: 10px;
}

#form-contato button {
    width: 100%;
    margin-top: 5px;
}

/*Modal*/

.btnCriarConta {
    background: var(--corBotao);
    border: var(--corBotao);
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnFazerLogin,
.btnCadastrar {
    color: var(--corBotao);
    font-weight: bold;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

p {
    font-size: 1.3em;

}

.headingCadastro,
.headingLogin {
    color: var(--corPadrao);
    text-align: center;
    font-family: var(--fontePadrao);

    font-weight: bold;
}

div#login .btnFecharModalLogin,
.modal-footer {
    justify-content: end;
    border: none;
}

.btn-close {
    position: absolute;
}

.form-check {
    display: inline-block;
    margin-right: 30px;
}

/* Rodapé */

footer {
    background-color: #D9D9D9;
}

/* Responsivo */

/* Tablet */

@media(max-width:768px) {

    /* geral */
    .container {
        padding: 20px 0;
    }

    /* inicio */

     /* titulo */

     h3 {
        font-size: 40px;
    }
    
    /* Slide 1 */

    div#slide-1 .slide-container{
        text-align: center;
    }

    div#slide-1 h5 {
        font-size: 2.5rem;
    }

    div#slide-1 img {
        width: 80%;
    }

    /* Slide 2 */

    div#slide-2 .slide-container{
        text-align: center;
        padding: 0px 50px;
    }

    div#slide-2 h5 {
        font-size: 2.5rem;
    }

    /* Slide 3 */

    div#slide-3 .carousel-caption h5 {
        font-size: 1.5rem;
    }

    div#slide-3 .carousel-caption p {
        font-size: 1rem;
    }

    /* Quem Somos */
    div#quem-somos p {
        font-size: 20px;
    }

    div#quem-somos img {
        width: 250px
    }

    div#materiais-reciclaveis h3 {
        margin-bottom: 40px;
    }

    /* card */

    div#como-funciona .card-text {
        font-size: 11px;
    }

    div#como-funciona .card-img-top {
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }

    p.card-text {
        font-size: 12px;
    }

    div#materiais-reciclaveis .card-body h4 {
        font-size: 25px;
    }

    div#materiais-reciclaveis .card-body {
        height: 150px;
        text-shadow: 1px 1px 1.5px black;
    }

    /* Contato */
    div#contato p {
        font-size: 15px;
    }

    div#contato h4 {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}

/* Celular */

@media(max-width:425px) {
    
    /* Inicio */

    h3 {
        font-size: 35px;
        text-align: center;
    }

    /* Slide-1 */

    div#slide-1 img {
        width: 50%;
    }

    div#slide-1 h5 {
        font-size: 1.5rem;
    }

    div#slide-1 .btn-slide1 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    /* Slide-2 */

    div#slide-2 h5 {
        font-size: 1.5rem;
    }

    div#slide-2 .btn-slide2 {
        font-size: 13px;
    }

    div#slide-2 img {
        width: 50%;
    }

    /* Slide-3 */

    div#slide-3 .carousel-caption p {
        font-size: 0.8rem;
    }

    /* Quem Somos */

    div#quem-somos p {
        font-size: 14px;
        text-align: center;
    }

    div#quem-somos img {
        width: 225px;
    }

    /* Como Funciona */

    div#como-funciona .card-text {
        font-size: 15px;
    }

    /* Container */

    .container {
        padding: 70px 15px!important;
    }

    /* Materiais Recicláveis */

    div#materiais-reciclaveis .card {
        width: 15rem!important;
        margin-bottom: 20px;
    }

    .txtCadastrar,
    .txtLogar {
        font-size: 0.9em;
    }

}