/* Gerais */

body{

}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

.btn-primary{
    background-color: var(--corBotao);
    --bs-btn-hover-bg: var(--corBotao);
    --bs-btn-active-bg: var(--corBotao);
    border: none;
}

h3 {
    font-weight: 400;
    font-size: 50px;
}

div#inicio{
    background-color: var(--corPadrao);
    height: 800px;
}

div#inicio .row{
    height: 678px;
}

div#inicio img{
    
}

div#inicio h1{
    color: #ffffff;
    font-size: 60px;
}

/* Como Funciona */

div#como-funciona{
    background-color: #D9D9D9;
    margin-bottom: 50px;
}

div#como-funciona .card-img-top{
    width: 117px;
    height: 117px;
    margin-top: 5px;
}

.card{
    border: none;
}

div#como-funciona .card{
    text-align: center;
    background-color: #D9D9D9;
    margin-top: 20px;
}

div#como-funciona .card-text{
    font-weight: 400;
    font-size: 20px;
    color: var(--corTexto3);
}

/* Materiais Recicláveis */

div#materiais-reciclaveis , .card{
    margin-bottom: 50px;
}
div#materiais-reciclaveis h3{
    color: var(--corTexto1);
    margin-bottom: 50px;
}

div#materiais-reciclaveis .card-body h4{
    font-weight: 400;
    font-size: 30px;
}

div#materiais-reciclaveis .card-body{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    height: 216px;
}

#card-1{
    background-color: #F98715;
}

#card-2{
    background-color: #F7CB14;
}

#card-3{
    background-color: #516BBF;
}

#card-4{
    background-color: #26881B;
}

/* Contato */

div#contato{
    background-color: #00A8E6;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

div#contato .container{
    padding-top: 35px;
}

div#contato p {
    font-size: 20px;
}

div#contato h3, h4, p{
    color: #ffffff;
}

div#contato .form-group, div#contato label{
    margin-bottom: 10px;
}

/* Rodapé */

footer{
    background-color: #D9D9D9;
}