/* Gerais */

body{

}

.btn-primary{
    background-color: var(--corBotao);
    --bs-btn-hover-bg: var(--corBotao);
    --bs-btn-active-bg: var(--corBotao);
    border: none;
}

h3 {
    font-weight: 400;
    font-size: 50px;
    color: var(--corPadrao);
}

/* Inicio */

div#inicio{
    background-color: var(--corPadrao);
}

div#inicio h1{
    color: #ffffff;
    font-size: 60px;
}

/* Quem Somos */

div#quem-somos p{
    color: var(--corPadrao);
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
}

/* Como Funciona */

div#como-funciona{
    background-color: #D9D9D9;
}

div#como-funciona .card-img-top{
    width: 117px;
    height: 117px;
    margin-top: 5px;
}

.card{
    border: none;
}

div#como-funciona .card{
    text-align: center;
    background-color: #D9D9D9;
    margin-top: 20px;
}

div#como-funciona .card-text{
    font-weight: 500;
    font-size: 20px;
    color: var(--corTexto3);
}

/* Materiais Recicláveis */

div#materiais-reciclaveis , .card{

}
div#materiais-reciclaveis h3{
    color: var(--corTexto1);
    margin-bottom: 50px;
}

div#materiais-reciclaveis .card-body h4{
    font-weight: 400;
    font-size: 30px;
}

div#materiais-reciclaveis .card-body{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    height: 216px;
}

#card-1{
    background-color: #F98715;
}

#card-2{
    background-color: #F7CB14;
}

#card-3{
    background-color: #516BBF;
}

#card-4{
    background-color: #26881B;
}

/* Contato */

div#contato{
    background-color: #00A8E6;
    padding-bottom: 100px;
}

div#contato p {
    font-size: 20px;
}

div#contato h4 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#contato h3, h4, p, div#contato label, .text-muted{
    color: #ffffff;
    
}

div#contato .text-muted{
    color: #ffffff!important;
}

div#contato .form-group, div#contato label{
    margin-bottom: 10px;
}

#form-contato button{
    width: 100%;
    margin-top: 5px;
}

/*Modal*/

.btnCriarConta{
    background: var(--corBotao);
    border: var(--corBotao);
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnFazerLogin, .btnCadastrar{
    color: var(--corBotao);
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
  }
  
p{
    font-size: 1.3em;

}

.headingCadastro, .headingLogin{
    color: var(--corPadrao);
    text-align: center;
    font-family: var(--fontePadrao);

    font-weight: bold;
}

div#login .btnFecharModalLogin, .modal-footer{
    justify-content: end;
    border:none;
}

.btn-close{
    position: absolute;
}

.form-check{
    display:inline-block;
    margin-right: 30px;
}
/* Rodapé */

footer{
    background-color: #D9D9D9;
}

/* Responsivo */
@media(max-width:768px){

    /* geral */
    .container{
        padding: 20px 0;
    }

    /* inicio */
    div#inicio h1{
        color: #ffffff;
        font-size: 40px;
    }

    /* titulo */
    
    h3 {
        font-size: 40px;
    }

    div#materiais-reciclaveis h3{
        margin-bottom: 20px;
    }

    /* card */

    div#como-funciona .card-text{
        font-size: 11px;
    }

    div#como-funciona .card-img-top{
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }

    p.card-text{
        font-size: 14px;
    }

    div#materiais-reciclaveis .card-body h4{
        font-size: 25px;
    }

    div#materiais-reciclaveis .card-body{
        height: 150px;
    }

    /* Contato */
    div#contato p {
        font-size: 15px;
    }

    div#contato h4 {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* Quem Somos */
    div#quem-somos p{
        font-size: 20px;
        text-align: center;
    }

    div#quem-somos img{
        width: 250px
    }

}

@media(max-width:425px) {
    .txtCadastrar, .txtLogar{
        font-size: 0.9em;
    }
    
}