/* Barra de navegação */

#container {
    overflow: hidden;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.nav-link:hover {
    color: var(--corBotao);
}

.nav-link:focus {
    color: var(--corBotao);
}

.navbar {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding: 0;
}

#btn-menu {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-x: 5rem;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: flex;
}

#btn-menu span {
    margin-left: 5px;
}

.divMenu {
    background: white;
    width: 100%;
    /* position: fixed;*/
}

.card {
    position: static;
}

/* Responsivo */

/*Tablet */

@media(max-width:768px) {

    div#btnDinamico {
        margin-left: -30px;
        margin-bottom: 20px;
    }

}

/* Celular */

@media(max-width:425px) { 

}