#container{
    overflow: hidden;
  }
.nav-link{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-right: 50px;
}
.nav-link:hover{
   color:var(--corBotao) ;
}

.nav-link:focus{
    color:var(--corBotao) ;
}
.navbar{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
