
.headingPerfilPessoaFisica1 {
    color: var(--corPadrao);
    position: static;
    text-align: center;
  }
  .headingPerfilPessoaFisica2 {
    color: var(--corPadrao);
    position: static;
    margin-bottom: 30px;
  }
  
  input{
  margin-bottom: 20px;
  }

  label{
    font-weight: bold;
  }